/* @font-face {
    font-family: font;
    src: url('/fonts/font.ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next');

html {
    font-family: 'Atkinson Hyperlegible Next', sans-serif;
    font-size:120%;
    font-weight:normal;
    font-optical-sizing: auto;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: underline;
}

.summary {
 font-style: italic;
}
.post-summary {
  font-style: italic;
}
nav {
  font-size:85%;
}

#footer a{ 
   text-decoration: underline;
}

figure {
  display: inline-block;
  text-align: center;
  margin: 5px;
}

bullet {
    font-size: 100%;
}

pre code {
    font-size: 90%;
    background-color: rgb(0 0 0 / 0);
    display: block;
    max-height: 500px;  
    overflow-y: auto; 
    overflow-x: auto;
}

::selection {
  color: oklch(95.3% 0.051 180.801);
  background: oklch(35% 0.16 232.661);
}

code[data-lang=python] {
    max-height: 600px;
}

code[data-lang=text] {
    text-wrap: wrap;
    max-height: 600px;
}

highlight {
  font-size:100%;
  color: hsl(95, 67%, 59%);
  font-weight: bold;
  font-style:normal;
}

hr {
  margin-top: 0;
  margin-bottom: 1rem;
  height: 0px;
}
hr::after{
  padding:1px;
}

blockquote {
  font-size: 90%;
  font-style: italic;
  font-weight: normal;
}

/* for mermaid */
.cluster rect {
      fill: rgba(255, 255, 255, 0.0);
      stroke: #4a6cff;
      stroke-width: 1px;
    }
/* .edgeLabel {
  background-color: transparent;
  color: black;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
} */