/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next');

html {
    font-family: 'Atkinson Hyperlegible Next', sans-serif;
    font-size:120%;
    font-weight:normal;
    font-optical-sizing: auto;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Decorated text */
a {
  text-decoration: underline;
}

.summary {
 font-style: italic;
}
.post-summary {
  font-style: italic;
}
nav {
  font-size:85%;
}

#footer a{ 
   text-decoration: underline;
}

highlight {
  font-size:95%;
  color: hsl(95, 67%, 59%);
  font-weight: bold;
  font-style: normal;
}

/* Image */
figure {
  display: inline-block;
  text-align: center;
  margin: 5px;
}

/* Bullet points */
bullet {
    font-size: 95%;
}

/* Syntax highlight code blocks */
pre code {
    font-size: 90%;
    display: block;
    max-height: 500px;
    overflow-y: auto; 
    overflow-x: auto;
}

::selection {
  color: oklch(95.3% 0.051 180.801);
  background: oklch(35% 0.16 232.661);
}

code[data-lang=python] {
    max-height: 600px;
}

code[data-lang=VimL] {
    text-wrap: wrap;
    max-height: 600px;
}

blockquote {
  font-size: 90%;
  font-style: italic;
  font-weight: normal;
}


/* Line separator  */
hr {
  margin-top: 0;
  margin-bottom: 1rem;
  height: 0px;
}
hr::after{
  padding:1px;
}

/* Mermaid */
.cluster rect {
      fill: rgba(255, 255, 255, 0.0);
      stroke: #4a6cff;
      stroke-width: 1px;
    }

/* level 2 (h3) → bullet */
#TableOfContents ul ul > li::before {
  content: "\25B7\2002";
  position: relative;
  left: 0;
}

/* level 3 (h4) */
#TableOfContents ul ul ul > li::before {
  content: "\2013\2002";
  position: relative;
  left: 0;
}

/* level 4 (h5) */
#TableOfContents ul ul ul ul > li::before {
  content: "\2027\2002";
  position: relative;
  left: 0;
}


/* TOC */
.dark #TableOfContents a.active {
  color: rgba(138, 255, 210, 0.650)
}

#TableOfContents a.active {
  font-weight: bolder;
  color: rgb(108, 202, 107)
}


/* Tables */
th, td {
    /* border: 0.3em; */
    text-align: left;
    /* border: 1px solid; */
    padding-top: 0.5em;
    padding-right: 0em;
    padding-left: 0.5em;
    border-collapse: collapse;
}

/* Admonition (i.e., github 'Tip', 'Note', see https://blowfish.page/docs/shortcodes/#admonition */
.callout[data-callout="tip"] {
    background: var(--color-callout-red);
    --callout-icon: lucide-alert-circle;
}
