:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    229,232,240;
--color-neutral-200:    180,188,212;
--color-neutral-300:    131,144,185;
--color-neutral-400:    87,103,153;
--color-neutral-500:    59,70,104;
--color-neutral-600:    44,52,78;
--color-neutral-700:    29,35,52;
--color-neutral-800:    15,17,26;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    255,255,255;
--color-primary-400:    253,240,230;
--color-primary-500:    247,197,159;
--color-primary-600:    244,174,121;
--color-primary-700:    241,151,84;
--color-primary-800:    238,129,46;
--color-primary-900:    224,107,19;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    255,255,255;
--color-secondary-400:    255,255,255;
--color-secondary-500:    225,229,238;
--color-secondary-600:    199,206,223;
--color-secondary-700:    173,184,208;
--color-secondary-800:    147,161,194;
--color-secondary-900:    121,139,179;
}