:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    221,235,246;
--color-neutral-200:    159,200,231;
--color-neutral-300:    98,165,216;
--color-neutral-400:    47,128,190;
--color-neutral-500:    32,87,129;
--color-neutral-600:    24,65,96;
--color-neutral-700:    16,43,64;
--color-neutral-800:    8,21,31;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    221,235,246;
--color-primary-200:    159,200,231;
--color-primary-300:    98,165,216;
--color-primary-400:    47,128,190;
--color-primary-500:    32,87,129;
--color-primary-600:    24,65,96;
--color-primary-700:    16,43,64;
--color-primary-800:    8,21,31;
--color-primary-900:    0,0,0;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    255,255,255;
--color-secondary-400:    255,235,183;
--color-secondary-500:    255,214,107;
--color-secondary-600:    255,203,66;
--color-secondary-700:    255,191,25;
--color-secondary-800:    240,173,0;
--color-secondary-900:    199,144,0;
}
