name: collect stats

on:
  schedule:
    - cron:  '30 15 * * *'
  workflow_dispatch:

jobs:
  export-run:
    runs-on: ubuntu-latest
    environment: netlify-stats-env
    steps:

    - uses: actions/checkout@v1
    - uses: NiklasMerz/netlify-analytics-collector@v2.0.0
      with:
        netlify-token: ${{ secrets.NETLIFY_TOKEN }}
        netlify-site-id: ${{ secrets.NETLIFY_SITE }}

    - uses: actions/upload-artifact@v4
      with:
        name: exports
        path: '*.csv'

    - uses: Yiheng-Yu/csv-to-google-spreadsheet@master
      with:
        csv_path: pageviews.csv
        spreadsheet_id: ${{ secrets.GOOGLE_SPREADSHEET_ID }}
        worksheet: 0
        GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
        GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY }}

    - uses: Yiheng-Yu/csv-to-google-spreadsheet@master
      with:
        csv_path: visitors.csv
        spreadsheet_id: ${{ secrets.GOOGLE_SPREADSHEET_ID }}
        worksheet: 1
        GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
        GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY }}

    - uses: Yiheng-Yu/csv-to-google-spreadsheet@master
      with:
        csv_path: bandwidth.csv
        spreadsheet_id: ${{ secrets.GOOGLE_SPREADSHEET_ID }}
        worksheet: 2
        GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
        GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY }}
    
    - uses: Yiheng-Yu/csv-to-google-spreadsheet@master
      with:
        csv_path: sources.csv
        spreadsheet_id: ${{ secrets.GOOGLE_SPREADSHEET_ID }}
        worksheet: 3
        GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
        GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY }}

    - uses: Yiheng-Yu/csv-to-google-spreadsheet@master
      with:
        csv_path: pages.csv
        spreadsheet_id: ${{ secrets.GOOGLE_SPREADSHEET_ID }}
        worksheet: 4
        GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
        GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY }}
    
    - uses: Yiheng-Yu/csv-to-google-spreadsheet@master
      with:
        csv_path: not_found.csv
        spreadsheet_id: ${{ secrets.GOOGLE_SPREADSHEET_ID }}
        worksheet: 5
        GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
        GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY }}