name: collect stats

on:
  schedule:
    - cron:  '30 15 * * *'
  workflow_dispatch:

jobs:
  export-run:
    runs-on: ubuntu-latest
    environment: netlify-stats-env
    steps:
    - uses: actions/checkout@v1
    - uses: NiklasMerz/netlify-analytics-collector@v2.0.0
      with:
        netlify-token: ${{ secrets.NETLIFY_TOKEN }}
        netlify-site-id: ${{ secrets.NETLIFY_SITE }}
    - uses: actions/upload-artifact@v4
      with:
        name: exports
        path: '*.csv'

  sheet-upload:
    runs-on: ubuntu-latest
    environment: netlify-stats-env
    steps:
    - uses: actions/checkout@v1
    - uses: NiklasMerz/netlify-analytics-collector@v2.0.0
      with:
        netlify-token: ${{ secrets.NETLIFY_TOKEN }}
        netlify-site-id: ${{ secrets.NETLIFY_SITE }}
        days: -1
        disable-header: true
    - uses: canonical-web-and-design/csv-to-google-spreadsheet@1.0.0
      with:
        csv_path: pageviews.csv
        spreadsheet_id: ${{ secrets.GOOGLE_SPREADSHEET_ID }}
        worksheet: 0
        append_content: true
        GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
        GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY }}
    - uses: canonical-web-and-design/csv-to-google-spreadsheet@1.0.0
      with:
        csv_path: visitors.csv
        spreadsheet_id: ${{ secrets.GOOGLE_SPREADSHEET_ID }}
        worksheet: 1
        append_content: true
        GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
        GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY }}
    - uses: canonical-web-and-design/csv-to-google-spreadsheet@1.0.0
      with:
        csv_path: bandwidth.csv
        spreadsheet_id: ${{ secrets.GOOGLE_SPREADSHEET_ID }}
        worksheet: 2
        append_content: true
        GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
        GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY }}